<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Axios</a>
    <a class="navbar-brand" href="/bootcamps">Bootcamps</a>
    <a class="navbar-brand" href="/bootcamps/new">New Bootcamp</a>
  </div>
</nav>